<div class="list-group-item" *ngFor="let product of products">
    <div class="row">
        <div class="col-3">
            <img class="img-fluid" alt="image description" [src]="product.imagePath" />
        </div>
        <div class="col-9">
            <div>{{product.name}}</div>
            <div>{{product.price}}</div>
            <button class="btn">Buy</button>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a></a>
                </li>
                <li class="nav-item">
                    <a></a>
                </li>
            </ul>
            <div>{{product.description}}</div>
            <div>{{product.review}}</div>
        </div>
    </div>

</div>