<div class="container">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">Checkout</div>
            <div class="card-body">
                <form #creditCardFormGroup="ngForm" (submit)="handleSubmit($event,creditCardFormGroup)">
                    <div class="form-group">
                        <label>Name on Card:</label>
                        <input class="form-control" name="name" [(ngModel)]="creditCard.name" />
                    </div>
                    <div class=" form-group">
                        <label>Card Type:</label>
                        <select class="form-control" name="type" [(ngModel)]="creditCard.type">
                            <option value="Visa">Visa</option>
                            <option value="MasterCard">MasterCard</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Card Number: </label>
                        <input type="number" class="form-control" name="card_number"
                            [(ngModel)]="creditCard.card_number" />
                    </div>
                    <div class="form-group">
                        <label>Expiration Date:</label>
                        <input type="date" class="form-control" name="expiration_date"
                            [(ngModel)]="creditCard.expiration">
                    </div>
                    <div class="form-group">
                        <label>CVC:</label>
                        <input type="number" class="form-control" name="cvc" [(ngModel)]="creditCard.cvc">
                    </div>
                    <div class="form-group">
                        <label>Billing Address:</label>
                        <input type="address" class="form-control" name="address" [(ngModel)]="creditCard.expiration">
                    </div>

                    <button class="btn btn-primary">Checkout</button>
                    <button type="button" (click)="doCancel()" class="btn btn-danger">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>