<nav class="navbar navbar-light nav nav-pills nav-fill bg-info">
    <div class="container-fluid">
        <ul class="nav">
            <li class="nav-item">
                <a routerLink="/Home" class="nav-link" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/list">
          Games
        </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href>
          Cart
        </a>
            </li>
            <li class="nav-item">
                <a routerLink="Login" class="nav-link" routerLinkActive="active">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/add-delete-product">
          Employee
        </a>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>