<nav class="navbar navbar-light bg-info">
    <div class="container-fluid">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href>
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/list">
                    Products
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href>
                    Cart
                </a>
            </li>
            
        </ul>
    </div>
</nav>